{% extends 'base.html.twig' %}

{% block title %}Compra{% endblock %}

{% block body %}
    <h1>Compra</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compra.id }}</td>
            </tr>
            <tr>
                <th>NumeroLoteria</th>
                <td>{{ compra.numeroLoteria }}</td>
            </tr>
            <tr>
                <th>FechaCompra</th>
                <td>{{ compra.fechaCompra ? compra.fechaCompra|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_compra_index') }}">back to list</a>

    <a href="{{ path('app_compra_edit', {'id': compra.id}) }}">edit</a>

    {{ include('compra/_delete_form.html.twig') }}
{% endblock %}
