{% extends 'base.html.twig' %}

{% block title %}Compra
{% endblock %}

{% block body %}
	<h1>Compra</h1>

	<form method="POST" action="{{ path('app_compra_boleto', {'sorteo': sorteo.id}) }}">
		<label>{{sorteo.nombre}}</label>
		<label>Ticket a la venta:</label>
		<select name="idBoleto">
			{% for numero in numeros %}
				<option value={{numero}}>
					Comprar entrada
					{{numero}}</option>
			{% endfor %}
		</select>
		<input type="submit" value="Enviar"/>
	</form>
	<a href="{{ path('app_main') }}">back to list</a>
{% endblock %}
