{% extends 'base.html.twig' %}

{% block title %}
	Sorteo
{% endblock %}

{% block body %}
	<h1>Sorteo</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Fecha de cierre</th>
				<th>PrecioNumero</th>
				<th>NumsAVender</th>
				<th>Premio</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for sorteo in sorteos %}
				<tr>
					<td>{{ sorteo.nombre }}</td>
					<td>{{ sorteo.fechaHora ? sorteo.fechaHora|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ sorteo.precioNumero }}</td>
					<td>{{ sorteo.numsAVender }}</td>
					<td>{{ sorteo.premio }}</td>
					<td>
						{% if userSaldo >= sorteo.precioNumero %}
							<a href="{{ path('app_compra_new', {'id': sorteo.id}) }}">Comprar una entrada</a>
						{% else %}
							No tiene suficiente dinero para participar en este sorteo
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="/">Volver atrás</a>
{% endblock %}
